@page "/updateuserprofile"
@attribute [Authorize(Roles = "Poet")]
@inject AuthenticationStateProvider ASP;
@layout CustomUserLayout;


<div class="container p-2">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form class="rounded p-4 shadow">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="userName" class="float-right urdu">صارف کا نام:</label>
                        <input id="userName" class="form-control urdu" type="" @bind="ent.UserName" readonly />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="firstName" class="float-right urdu">پہلا نام:</label>
                        <input id="firstName" class="form-control urdu" @bind="ent.FirstName" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="lastName" class="float-right urdu">آخری نام:</label>
                        <input id="lastName" class="form-control urdu" @bind="ent.LastName" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="phoneNumber" class="float-right urdu">فون نمبر:</label>
                        <input id="phoneNumber" class="form-control urdu" @bind="ent.PhoneNumber" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateOfBirth" class="float-right urdu">تاریخ پیدائش:</label>
                        <input id="dateOfBirth" class="form-control urdu" @bind="ent.DateOfBirth" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="city" class="float-right urdu">شہر:</label>
                        <input id="city" class="form-control urdu" @bind="ent.City" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="location" class="float-right urdu">مقام:</label>
                        <input id="location" class="form-control urdu" @bind="ent.Location" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="area" class="float-right urdu">علاقہ:</label>
                        <input id="area" class="form-control urdu" @bind="ent.Area" />
                    </div>
                </div>

                <button type="button" class="btn btn-primary float-left urdu" @onclick="SaveProfile">Update</button>
            </form>
        </div>
    </div>
</div>

@code {
    PoetGetParameters pgp = new PoetGetParameters();
    EntUserProfile ent = new EntUserProfile();

    protected override async Task OnInitializedAsync()
    {
        var authState = await ASP.GetAuthenticationStateAsync();
        pgp.Role = authState.User.FindFirst(ClaimTypes.Role)?.Value;
        pgp.PId = Convert.ToInt32(authState.User.FindFirst("UId")?.Value);
        ent = await DALPoetProfile.GetPoetData(pgp);
        Console.WriteLine($"ہائی {ent.PhoneNumber}");
    }

    // Method to save the profile changes
    private async Task SaveProfile()
    {
        // Add logic to save the changes to the user profile
        // For example, you might call DAL method to update the profile data
        // await DALPoetProfile.UpdatePoetData(ent);
    }
}
