@page "/"
@layout CustomUserLayout

<section class="mt-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center" style="min-height:50vh">
                <div>
                    <article class="pb-5 urdu ">آج کے منتخب 1 شعر</article>
                   
                        <PhraseRenderer Misra1="@PoetPoetry.Verse1" Misra2="@PoetPoetry.Verse2" />

                        <div>
                            <p class="urdu">@PoetPoetry.Fullname</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<View.Pages.HomePage.PoetOfTheDay />

@code {

    public string Meaning = "Sa";

    protected override async Task OnInitializedAsync()
    {

        PoetPoetry = await DAL.DALPoetry.GetPoetryByPoetID();

    }
    private async void ShowMeaning(string word)
    {
        Meaning = await DAL.DALWordDictionary.GetWordMeaning(word.ToString());

    }



    EntVerse PoetPoetry = new EntVerse();




}


