
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="urdu">آج کا منتخب شاعر</h3>
            <div>
                <div style="height:150px; width:150px; background-image:url(https://i.pinimg.com/550x/83/55/c3/8355c3a8be5589a2f21b2291b1e6b202.jpg); background-position:center; background-size:cover; border-radius:100%;margin:0 auto"> </div>
            </div>
            <p>@Poet.FullName</p>
            <p class="lead  d-flex flex-column">
                <PhraseRenderer Misra1="@Poet.Verse1" Misra2="@Poet.Verse2" />

                <div class="urdu mt-2">
                    @Poet.City

                </div>
            </p>

        </div>
        <div class="col-md-12  mt-4">
        </div>
    </div>
</section>

@code {
    EntPoetOfDay Poet = new EntPoetOfDay();
    protected override async Task OnInitializedAsync()
    {
        Poet = await DALGetPoetOfDay.GetPoetOfDay("2");

    }
}
