@page "/updatecontent"
@layout CustomUserLayout;
@inject AuthenticationStateProvider asp;

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-bottom: 30px">
        <button class="nav-link active urdu" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">غزل</button>
        <button class="nav-link urdu" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">نظم</button>
        <button class="nav-link urdu" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">شعر</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        @if (UId != 0)
        {
            <UpdateComponent UId="Convert.ToInt32(UId)" FuntionCall="Ghazal"></UpdateComponent>
        }
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        @if (UId != 0)
        {
            <UpdateComponent UId="Convert.ToInt32(UId)" FuntionCall="Nazam"></UpdateComponent>

        }
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
</div>

@code {
    public int UId = 0;

    protected override async Task OnInitializedAsync()
    {
        var auth = await asp.GetAuthenticationStateAsync();
        var uid = auth.User.FindFirst("UId")?.Value;
        UId = Convert.ToInt32(uid);

        this.StateHasChanged();
    }
}
