@inject AuthenticationStateProvider auth;
@inject NavigationManager navManager;
@using System.Security.Claims;
@using View.Authentication;

<head>
    <link rel="stylesheet" href="./css/Navbar.css" />
</head>


<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bolder" href="#">ریختہ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active urdu" aria-current="page" href="searchpoets">شاعر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link urdu" href="searchpoems">نظم</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link urdu" href="searchghazals">غزل</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link urdu" href="couplets" >شعر</a>
                </li>
            </ul>

 

            <div class="d-flex">

                <AuthorizeView Roles="Poet">
                    <Authorized>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="postcontent">Post Content</a>
                                <a class="dropdown-item" href="updateuserprofile">Update Profile</a>
                            </div>
                        </div>
                    </Authorized>
                   
                </AuthorizeView>

                <AuthorizeView Roles="User, Poet">
                    <Authorized>
                        <button  onclick="@Logout" class="btn btn-primary btn-sm" id="navbar-auth-button">
                            Logout

                        </button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="login" class="btn btn-primary btn-sm" id="navbar-auth-button" >
                            Login
                        </a>
                    </NotAuthorized>
                </AuthorizeView>

            </div>


        </div>

    </div>


</nav>




@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)auth;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
    public string? UserName = "";
    protected override async Task OnInitializedAsync()
    {
        var autha = await auth.GetAuthenticationStateAsync();
        if (autha != null)
        {
            UserName = autha.User.FindFirst(ClaimTypes.Name)?.Value.ToString();

        }

    }
}
