<div class="container mt-5">
    <div class=" mx-auto" style="max-width: 600px;">
        <div class="card-body">
            @Content
        </div>
        <div class=" text-center">
            <h6 class="urdu">@ContentName</h6>
            <a class="urdu h6" href="userprofile/@UId">@PoetName</a>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? PoetName { get; set; }
    [Parameter] public string? UId { get; set; }

    [Parameter] public string? ContentName { get; set; }
    [Parameter] public  RenderFragment? Content{ get; set; }
}
