@page "/addusersbyadmins"
@attribute [Authorize(Roles = "Administrator,Editor, Cheif Editor")]
@inject NavigationManager nav
@using View.Authentication
@using Microsoft.AspNetCore.Mvc
@layout MainPagesCustomLayout.CustomUserLayout
@using View.Data
@inject ISignupUser iup

<div class="row" dir="ltr" >
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border" dir="ltr">
        <div class="mb-3 text-center">
            <h3>Signup</h3>
        </div>
        <div class="mb-3">
            <label>User Name</label>
            <input @bind="model.UserName" class="form-control" placeholder="User Name" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input @bind="model.Password" type="password" class="form-control" placeholder="Password" />
        </div>

        <div class="mb-3">
            <label>First Name</label>
            <input @bind="model.FirstName" class="form-control" placeholder="First Name" />
        </div>

        <div class="mb-3">
            <label>Last Name</label>
            <input @bind="model.LastName" class="form-control" placeholder="Last Name" />
        </div>

        <div class="mb-3">
            <label>Email Address</label>
            <input @bind="model.EmailAddress" class="form-control" placeholder="Email Address" />
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input @bind="model.PhoneNumber" class="form-control" placeholder="Phone Number" />
        </div>

        <div class="mb-3">
            <label>Date of Birth</label>
            <input @bind="model.DateOfBirth" type="datetime-local" class="form-control" />
        </div>

        <div class="mb-3">
            <label>City</label>
            <input @bind="model.City" class="form-control" placeholder="City" />
        </div>

        <div class="mb-3">
            <label>Area</label>
            <input @bind="model.Area" class="form-control" placeholder="Area" />
        </div>

        <div class="mb-3">
            <label>Location</label>
            <input @bind="model.Location" class="form-control" placeholder="Location" />
        </div>

        <div class="mb-3">
            <label>Is Active</label>
            <input @bind="model.IsActive" type="checkbox" />
        </div>

        <div class="mb-3">
            <label>Role</label>
            <select @bind="model.Role" class="form-control">
                <option value="User">User</option>
                <option value="Editor">Editor</option>
            </select>
        </div>
        <!-- End of additional properties -->
        <p>@outputMessage</p>
        <div class="mb-3 d-grid gap-2">
            <button  type="button" @onclick="SignupUser" class="btn btn-primary">Sign Up</button>

            <a href="/login">Already have an account? Login here.</a>
        </div>
    </div>
</div>

@code {

    string outputMessage = "s";
    Entities.EntUserProfile model = new Entities.EntUserProfile();

    public async Task SignupUser()
    {
        try
        {
            Random rand = new Random();
            model.UId = rand.Next(100000, 999999);
            var response = await iup.SignupUser(model);

            outputMessage = response.Message;
            Console.WriteLine("sad");
            model = null;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during signup: {ex.Message}");
           
        }
    }




}
