@page "/dict"
@using Entities
@using DAL
<h3>Word Dictionary</h3>


<table class="table">
    <thead>
        <tr id="dictionary-row-words">
            <th>Word ID</th>
            <th>Word</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wordData in meaning.Values)
        {
            <tr>
                <td>@wordData.DId</td>
                <td>@wordData.DWord</td>
                <td>@wordData.DMeaning</td>
            </tr>

        }
    </tbody>
</table>

@code {
    Dictionary<string, EntWordDictionary> meaning = new Dictionary<string, EntWordDictionary>();

   
}
